p
  | The workbasket has been approved, but has not yet been sent through to CDS. It will be sent in the next batch. It contains
  =<> pluralize(workbasket_items.count, "additional code", "additional codes")
  | .
