= render "workbaskets/edit_regulation/steps/main/regulation_identifier", f: f
= render "workbaskets/edit_regulation/steps/main/regulation_name", f: f
= render "workbaskets/edit_regulation/steps/main/validity_period", f: f
