= render "workbaskets/shared/edit_base", subheader: link_to("(and a new one instead)", new_edit_footnote_url)

script
  == "window.__original_footnote_description = '#{form.original_footnote_description}';"
  == "window.__footnote_json = #{workbasket_settings.settings.to_json};"
