= render "workbaskets/shared/edit_base", subheader: link_to("(add a new one instead)", new_edit_footnote_url)

script
  == "window.__original_footnote_description = '#{j(form.original_footnote_description)}';"
  == "window.__footnote_json = #{workbasket_settings.settings.to_json};"
