.bulk-edit-of-measures-actions-block
  = link_to "Submit group for cross-check", "#", class: "secondary-button js-bulk-edit-of-measures-submit-for-cross-check", "v-on:click.prevent" => "saveForCrossCheck"
  = link_to "Save progress", "#", class: "secondary-button js-bulk-edit-of-measures-save-progress", "v-on:click.prevent" => "saveProgress"
