- commodity_codes_count = workbasket_settings.commodity_codes_covered.compact.count
- additional_codes_count = workbasket_settings.additional_codes_covered.compact.count

p
  | Please check that the amendments below are as intended and correctly reflect the requirement, then either confirm or reject.


