# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
.byebug_history
report.html

# Local tariff files
data/*/*.xml
data/*/*.txt
data/failed-measures-report*
data/*.xml

# Environment files
.env
.env.*.local

# Cloud Foundry manifest files
*_manifest.yml
cf-ssh.yml

# Other files
config/trade_tariff_backend_secrets.yml
*.DS_Store
/coverage/*
.idea/*
*.iml
REVISION
*.org
script/*
screenshots/*

# RVM
.ruby-gemset

public/assets/*
public/uploads/*

dev_server/*
beta_server/*

node_modules/

spec/examples.txt
