<script type="text/x-template" id="change-origins-popup-template">
  <pop-up :open="open" :on-close="triggerClose">
    <template slot="title">
      Change origin
    </template>

    <div v-if="measures.length > 1">
      <warning-message>
        You are bulk-changing {{measures.length}} measures. Please check your inputs carefully!
      </warning-message>
    </div>

    <h3>What is the new origin for the selected measures?</h3>

    <div v-if="!differing">
      <info-message>
        The selected measures currently have {{originName}} as their origin
        <span v-if="exclusionsString">, with {{exclusionsString}} as origin exceptions. This will be changed to the origin you select below.</span>
      </info-message>
    </div>

    <div v-if="differing">
      <info-message>
        <p>
          The selection currently contains differing origins and/or origin exceptions. These will all be replaced by the origin you configure below.
        </p>

        <p>The current origins in the selection are:</p>

        <p>{{joinedOrigins}}</p>

        <div v-if="joinedExclusions">
          <p>The current origin exceptions, aggregated across the selection are:</p>

          <p>{{joinedExclusions}}</p>
        </div>
      </info-message>
    </div>

    <div class="form-group">
      <label class="form-label">
        <span class="form-hint">
          You can specify a single country or territory, or a pre-defined group of countries, or select 'Erga Omnes' to apply measures to all origins. If the group you need is not in the list, you can <a href="#">add it from here</a>.
        </span>
      </label>

      <div class="controls origins-region">
        <measure-origin kind="erga_omnes" placeholder="― select a country or region ―" :origin="origins.erga_omnes"></measure-origin>
        <measure-origin kind="group" placeholder="― select a group of countries ―" :origin="origins.group"></measure-origin>
        <measure-origin kind="country" placeholder="― select a country or region ―" :origin="origins.country"></measure-origin>
      </div>
    </div>

    <div class="form-actions">
      <button class="button" v-on:click.prevent="confirmChanges">
        Update selected measures
      </button>
      <a href="#" class="secondary-button" v-on:click.prevent="onClose">
        Cancel
      </a>
    </div>
  </pop-up>
</script>
