<script type="text/x-template" id="change-conditions-popup-template">
  <pop-up :open="open" :on-close="triggerClose" classes="conditions-popup">
    <template slot="title">
      Change conditions
    </template>

    <div v-if="multiple">
      <warning-message>
        You are bulk-changing {{measures.length}} measures. Please check your inputs carefully!
      </warning-message>
    </div>

    <div v-if="replacing">
      <info-message>
        The selection contains differing conditions.
        <br />
        These will be replaced with the conditions you configure here
      </info-message>
    </div>

    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" v-if="errors.length > 0">

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There are {{errors.length}} errors on the duty expressions entered
      </h2>

      <ul class="error-summary-list">
        <li v-for="error in errors">{{error}}</li>
      </ul>

    </div>

    <conditions-coordinator :conditions="conditions" :hide-help="true"></conditions-coordinator>

    <div v-if="replacing">
      <div class="form-group">
        <div class="multiple-choice">
          <input type='radio' id="conditions_add" class="radio-inline-group" v-model="mode" value="add" />
          <label for="conditions_add">
            Add to any existing conditions in the selection

            <br>

            <span class="form-hint">
              Existing conditions will be retained. Conditions specified here will not be added to any measures in which the exact same condition already exists.
            </span>
          </label>
        </div>

        <div class="multiple-choice">
          <input type='radio' id="conditions_replace" class="radio-inline-group" v-model="mode" value="replace" />
          <label for="conditions_replace">
            Replace any existing conditions in the selection

            <br>

            <span class="form-hint">
              Select this option and leave the condition field above unselected to remove all existing conditions in the selection
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button class="button" v-on:click.prevent="confirmChanges" :disabled="disableUpdate">
        Update selected measures
      </button>
      <a href="#" class="secondary-button" v-on:click.prevent="onClose">
        Cancel
      </a>
    </div>
  </pop-up>
</script>
