<script type="text/x-template" id="change-duties-popup-template">
  <pop-up :open="open" :on-close="triggerClose">
    <template slot="title">
      Change duties
    </template>

    <div v-if="multiple">
      <warning-message>
        You are bulk-changing {{measures.length}} measures. Please check your inputs carefully!
      </warning-message>
    </div>

    <div v-if="replacing">
      <info-message>
        The selection contains different duty expressions.
        <br />
        These will be replaced with the duties you configure here
      </info-message>
    </div>

    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" v-if="errors.length > 0">

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There are {{errors.length}} errors on the duty expressions entered
      </h2>

      <ul class="error-summary-list">
        <li v-for="error in errors">{{error}}</li>
      </ul>

    </div>

    <components-coordinator :components="measureComponents" type="measure_component" classes="duty-expression" :index="0"></components-coordinator>

    <div class="form-actions">
      <button class="button" v-on:click.prevent="confirmChanges">
        Update selected measures
      </button>
      <a href="#" class="secondary-button" v-on:click.prevent="onClose">
        Cancel
      </a>
    </div>
  </pop-up>
</script>
