<script type="text/x-template" id="measure-change-commodity-code-input-template">
  <div class="bootstrap-row">
    <div class="col-xs-5">
      <p>
        <label :for="labelUid">
          {{commodityCode}}
        </label>
      </p>
    </div>
    <div class="col-xs-7">
      <p>
        <input type="text" @change="updateCommodityCode" class="form-control" :id="labelUid"/>
      </p>
    </div>
  </div>
</script>

<script type="text/x-template" id="measure-commodity-code-previewer-template">
  <div>
    <p><input class="form-control" v-model="desiredCommodityCode" /></p>
    <p class="form-hint" v-if="desiredCommodityCodeHTML == '' && !loadingCommodityCode">
      Code description will appear here once you enter a commodity code above.
    </p>
    <div class="loading-spinner-wrapper" v-if="loadingCommodityCode">
      <%= render "measures/bulks/loading_spinner", message: "Loading commodity code..." %>
    </div>
    <div v-html="desiredCommodityCodeHTML"></div>
  </div>
</script>

<script type="text/x-template" id="change-commodity-code-popup-template">
  <pop-up :open="open" :on-close="triggerClose">
    <template slot="title">
      Change commodity codes
    </template>

    <div v-if="measures.length > 1">
      <warning-message>
        You are bulk-changing {{measures.length}} measures. Please check your inputs carefully!
      </warning-message>
    </div>

    <info-message>
      The selection contains measures with the commodity code(s) listed below. You can replace them, but you cannot delete or add new commodity codes from here. To delete a commodity code, you need to delete the whole measure. To add new commodity codes, either create new measures via the Create Measures screen, or copy one or more of these measures and then edit the copies.
    </info-message>

    <div class="bootstrap-row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-label">
            <span class="bootstrap-row">
              <span class="col-md-5">
                Current code
              </span>

              <span class="col-md-7">
                Replace with
              </span>
            </span>
            <span class="form-hint">
              Leave row fields blank / unchecked to keep existing code unchanged.
            </span>
            <measure-change-commodity-code-input v-for="commodityCode in measuresCommodityCodes" :commodity-code="commodityCode">
            </measure-change-commodity-code-input>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-hint">
          If you need to check a commodity code, enter it here to see the description. Codes entered here will not affect measures in the selection.
        </div>
        <measure-commodity-code-previewer>
        </measure-commodity-code-previewer>
      </div>
    </div>

    <div class="form-actions">
      <button class="button" v-on:click.prevent="confirmChanges">
        Update selected measures
      </button>
      <a href="#" class="secondary-button" v-on:click.prevent="onClose">
        Cancel
      </a>
    </div>
  </pop-up>
</script>
