script type="text/x-template" id="condition-template"
  div
    .static-row
      .col-xs-12.col-sm-6.col-md-1
        .form-group
          label.form-label v-if="index == 0"
            | Condition
          = content_tag "custom-select", "", { url: "/measure_condition_codes", "v-model" => "condition.condition_code", "codeField" => "condition_code", "valueField" => "condition_code", "labelField" => "description", "date-sensitive" => true, "code-class-name" => "prefix--condition", ":on-change" => "onConditionCodeSelected", ":options-filter" => "splitConditions", ":compact" => true }

      = content_tag :div, class: "col-xs-12 col-sm-6 col-md-1-5", "v-if" => "roomReferencedValue" do
        .form-group*{ "v-if" => "showReferencedValue" }
          label.form-label v-if="index == 0"
            | Referenced value
          input.form-control type="text" v-model="condition.amount"
        div v-else=""
          .form-group
            label.form-label v-if="index == 0"
              | Referenced value
            | &nbsp;
      = content_tag :div, class: "col-xs-12 col-sm-6 col-md-1-5", "v-if" => "roomMeasurementUnit" do
        .form-group*{ "v-if" => "showMeasurementUnit" }
          label.form-label v-if="index == 0"
            | Unit of measure
          = content_tag "custom-select", "", { url: "/measurement_units", "label-field" => "description", "value-field" => "measurement_unit_code", "code-field" => "measurement_unit_code", "v-model" => "condition.measurement_unit_code", "date-sensitive" => true, "code-class-name" => "prefix--measurement-unit", "abbreviation-class-name" => "abbreviation--measurement-unit", ":on-change" => "onMeasurementUnitSelected", ":compact" => true }
        div v-else=""
          .form-group
            label.form-label v-if="index == 0"
              | Unit of measure
            | &nbsp;
      = content_tag :div, class: "col-xs-12 col-sm-6 col-md-1", "v-if" => "roomMeasurementUnit" do
        .form-group*{ "v-if" => "showMeasurementUnit" }
          label.form-label v-if="index == 0"
            | Qualifier
          = content_tag "custom-select", "", { url: "/measurement_unit_qualifiers", "label-field" => "description", "value-field" => "measurement_unit_qualifier_code", "code-field" => "measurement_unit_qualifier_code", "v-model" => "condition.measurement_unit_qualifier_code", "date-sensitive" => true, "code-class-name" => "prefix--measurement-unit-qualifier", ":on-change" => "onMeasurementUnitQualifierSelected", ":compact" => true }
        div v-else=""
          .form-group
            label.form-label v-if="index == 0"
              | Qualifier
            | &nbsp;
      = content_tag :div, class: "col-xs-12 col-sm-6 col-md-2", "v-if" => "roomCertificateType" do
        .form-group*{ "v-if" => "showCertificateType" }
          label.form-label v-if="index == 0"
            | Certificate type(s)
          = content_tag "custom-select", "", { url: "/certificate_types", "v-model" => "condition.certificate_type_code", "codeField" => "certificate_type_code", "valueField" => "certificate_type_code", "labelField" => "description", "date-sensitive" => true, "code-class-name" => "prefix--certificate-type", ":on-change" => "onCertificateTypeSelected", ":compact" => true }
        div v-else=""
          .form-group
            label.form-label v-if="index == 0"
              | Certificate type(s)
            | &nbsp;
      = content_tag :div, class: "col-xs-12 col-sm-6 col-md-1", "v-if" => "roomCertificate" do
        .form-group*{ "v-if" => "showCertificate" }
          label.form-label v-if="index == 0"
            | Certificate
          = content_tag "custom-select", "", { url: "/certificates", "v-model" => "condition.certificate_code", "codeField" => "certificate_code", "valueField" => "certificate_code", "labelField" => "description", "date-sensitive" => true, "drilldown-name" => "certificate_type_code", ":drilldown-value" => "condition.certificate_type_code", ":drilldown-required" => "showCertificateType", "code-class-name" => "prefix--certificate", ":on-change" => "onCertificateSelected", ":compact" => true }
        div v-else=""
          .form-group
            label.form-label v-if="index == 0"
              | Certificate
            | &nbsp;
      = content_tag :div, { class: "col-xs-12 col-sm-6 col-md-1" } do
        .form-group
          label.form-label v-if="index == 0"
            | Action
          = content_tag "custom-select", "", { url: "/measure_actions", "v-model" => "condition.action_code", "codeField" => "action_code", "valueField" => "action_code", "labelField" => "description", "date-sensitive" => true, "code-class-name" => "prefix--measure-action", ":on-change" => "onActionSelected", ":compact" => true }
      = content_tag :div, { class: "col-md-6" } do
        = content_tag "components-coordinator", nil, { ":components" => "condition.measure_condition_components", "type" => "measure_condition_component", "classes" => "measure-condition-component", ":hide-help" => "hideHelp !== true && index == 0", ":index" => "index", ":compact" => true, ":show-conditions-duty-amount" => "showConditionsDutyAmount", ":show-conditions-measurement-unit" => "showConditionsMeasurementUnit" }

      = content_tag :slot
