<script type="text/x-template" id="measures-grid-template">
  <div class="measures-table-wrapper">
    <div class="measures-table">
      <div class="table__header">
        <div class="table__column select-all-column">
          <input type="checkbox" class="select-all" value='1' v-model="selectAll" :checked="selectionType == 'all'" />
        </div>
        <div v-for="column in enabledColumns" v-bind:class="'table__column ' + column.field + '-column'">
          <a v-on:click.prevent="selectSorting(column)" v-if="column.sortable">
            {{column.title}}

            <span v-if="column.field == sortBy">
              <arrow-down v-if="sortDir === 'desc'"></arrow-down>
              <arrow-up v-if="sortDir === 'asc'"></arrow-up>
            </span>
          </a>

          <span v-if="!column.sortable">{{column.title}}</span>
        </div>
      </div>

      <recycle-list class="scroller" :items="sorted" :item-height="45">
        <template slot-scope="{ item, index, active }">
          <div class='table__row' :class="{ deleted: item.deleted }" :data-measure-sid="item.measure_sid">
            <div class="table__column select-all-column">
              <input type="checkbox" name="measures[]" :value="item.measure_sid" :checked="checked[item.measure_sid]" @change="sendCheckedTrigger" />
            </div>
            <grid-column v-if="active" v-for="column in enabledColumns" :item="item" :column="column.field" :changeProp="column.changeProp"></grid-column>
          </div>
        </template>
      </recycle-list>
    </div>
  </div>
</script>
