<script type="text/x-template" id="measures-grid-template">
  <table class="measures-table">
    <thead>
      <tr>
        <th>
          <input type="checkbox" class="select-all" value='1' v-model="selectAll" />
        </th>
        <th v-for="column in enabledColumns">
          <a v-on:click.prevent="selectSorting(column)">
            {{column.title}}

            <span v-if="column.field == sortBy">
              <arrow-down v-if="sortDir === 'desc'"></arrow-down>
              <arrow-up v-if="sortDir === 'asc'"></arrow-up>
            </span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in data">
        <td>
          <input type="checkbox" name="measures[]" :value="row.measure_sid" v-model="selectedRows" />
        </td>
        <td v-for="column in enabledColumns" v-html="row[column.field]">
        </td>
      </tr>
    </tbody>
  </table>
</script>
