<script type="text/x-template" id="quota-section-template">
  <div class="quota-section">
    <div class="form-group">
      <label class="form-label">
        What period type will this section have?
      </label>

      <div class="row" id="quota-period-select">
        <div class="col-md-3">
          <custom-select :options="section_types" :allow-clear="true" label-field="label" value-field="id" v-model="section.type" placeholder="― select quota period type ―"></custom-select>
        </div>
      </div>
    </div>

    <div class="panel panel-border-narrow" v-if="section.type">
      <fieldset v-if="section.type != 'custom'">
        <div class="form-group">
          <label class="form-label" for="annual_start_date">
            What is the start date of this section?
          </label>
            <div class="row">
              <div class="col-md-3">
                <div v-if="section.type == 'annual'">
                  <date-select :value.sync="section.start_date" id="annual_start_date" ></date-select>
                </div>
                <div class="row" v-else>
                  <div class="col-md-3">
                    <input type="text" value="1" disabled class='form-control string'>
                  </div>
                  <div class="col-md-5">
                    <input value="January" disabled class='form-control string'>
                  </div>
                  <div class="col-md-4">
                    <input :value="section.start_date && section.start_date.split('/')[2]" @input="section.start_date = '01/01/'+$event.target.value;" class='form-control string' id='quota-period-year'>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="form-label">
            How long will this section last?
          </label>

          <div class="row">
            <div class="col-md-2">
              <custom-select id="quota-duration" :options="periods" label-field="label" value-field="id" v-model="section.period"></custom-select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="form-label">
            Is this section staged?
          </label>

          <div class="multiple-choice">
            <input :id="'period-' + index + '-staged'" name="" type="checkbox" value="1" v-model="section.staged" :disabled="disableStaged">
            <label :for="'period-' + index + '-staged'">Yes &ndash; staged (specify a different opening balance for each period)</label>
          </div>
        </div>

        <div class="form-group" v-if="!omitCriticality">
          <label for="" class="form-label">
            Do you want to specify a different criticality for each period in this section?
          </label>

          <div class="multiple-choice">
            <input :id="'period-' + index + '-criticality_each_period'" name="" type="checkbox" value="1" v-model="section.criticality_each_period" :disabled="disableCriticality">
            <label :for="'period-' + index + '-criticality_each_period'">Yes &ndash; specify a different criticality for each period</label>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="form-label">
            Do you want to specify different duties for each period in this section?
          </label>

          <div class="multiple-choice">
            <input :id="'period-' + index + '-duties_each_period'" name="" type="checkbox" value="1" v-model="section.duties_each_period" :disabled="disableDuties">
            <label :for="'period-' + index + '-duties_each_period'">Yes &ndash; specify different duties for each period</label>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="form-label">
            How will the quota balance(s) in this section be measured?
            <span class="form-hint">
              In most cases, quotas are measured according to physical attributes, such as weight or volume. Please select that attribute here.
            </span>
          </label>

          <div class="row">
            <div class="col-md-3">
              <custom-select id="measurement-unit-code" url="/measurement_units" label-field="description" value-field="measurement_unit_code" code-field="measurement_unit_code" v-model="section.measurement_unit_code" placeholder="― select measurement unit ―" date-sensitive="true" code-class-name="prefix--measurement-unit" abbreviation-class-name="abbreviation--measurement-unit"></custom-select>
            </div>
            <div class="col-md-3">
              <custom-select url="/measurement_unit_qualifiers" label-field="description" value-field="measurement_unit_qualifier_code" code-field="measurement_unit_qualifier_code" v-model="section.measurement_unit_qualifier_code" placeholder="― optionally select qualifier ―" date-sensitive=true code-class-name="prefix--measurement-unit-qualifier"></custom-select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="form-label">
            Will the quota be measured according to total monetary value?
            <span class="form-hint">
              Alternatively, the quota may be measured according to the total Euro value that can be imported. If this is the case, please select EUROs in the dropdown below.
            </span>
          </label>

          <div class="row">
            <div class="col-md-3">
              <custom-select id="monetary-unit-code" :options="monetary_units" placeholder="― select monetary unit ―" label-field="label" value-field="id" v-model="section.monetary_unit_code"></custom-select>
            </div>
          </div>
        </div>

        <opening-balances-manager :prefix="'quota-section-' + index" :section="section" v-if="showOpeningBalanceFields"></opening-balances-manager>
      </fieldset>

      <fieldset v-else>
        <div class="form-group" v-if="false" v-cloak>
          <label for="" class="form-label">
            Repeat this section every year?
          </label>

          <div class="multiple-choice">
            <input :id="'period-' + index + '-repeat'" name="" type="checkbox" value="1" v-model="section.repeat">
            <label :for="'period-' + index + '-repeat'">Yes &ndash; repeat until further notice</label>
          </div>
        </div>

        <div class='custom-period' v-for="(period, idx) in section.periods">
          <div class="form-group">
            <label class="form-label">
              What is the start date of this period?
            </label>

            <date-select :value.sync="period.start_date" :min="idx == 0 ? null : section.periods[idx - 1].end_date" :max="maxDate"></date-select>
          </div>

          <div class="form-group">
            <label class="form-label">
              What is the end date of this period?
            </label>

            <date-select :value.sync="period.end_date" :min="period.start_date" :max="maxDate"></date-select>
          </div>

          <div class="form-group">
            <label for="" class="form-label">
              How will the quota balance(s) in this period be measured?
            </label>

            <div class="row">
              <div id="measurement-units" class="col-md-3">
                <custom-select  url="/measurement_units" label-field="description" value-field="measurement_unit_code" code-field="measurement_unit_code" v-model="period.measurement_unit_code" placeholder="― select measurement unit ―" date-sensitive="true" code-class-name="prefix--measurement-unit" abbreviation-class-name="abbreviation--measurement-unit"></custom-select>
              </div>
              <div id="measurement-units-qualifier" class="col-md-3">
                <custom-select url="/measurement_unit_qualifiers" label-field="description" value-field="measurement_unit_qualifier_code" code-field="measurement_unit_qualifier_code" v-model="period.measurement_unit_qualifier_code" placeholder="― optionally select qualifier ―" date-sensitive=true code-class-name="prefix--measurement-unit-qualifier"></custom-select>
              </div>
            </div>
          </div>

          <opening-balances-manager :prefix="'quota-section-' + index + '-period-' + idx" :section="section" :period="period" v-if="period.measurement_unit_code"></opening-balances-manager>

          <p>
            <a href="#" v-on:click.prevent="removePeriod(idx)">Remove period</a>
          </p>
        </div>

        <p v-if="canAddMorePeriods">
          <a href="#" v-on:click.prevent="addPeriod">Add another custom period this year</a>
        </p>
      </fieldset>
      <br>

      <info-message v-if="!showOpeningBalanceFields">
        Answer the questions above to see inputs for defining each quota period.
      </info-message>

      <p>
        <slot></slot>
      </p>
    </div>
  </div>
</script>
