<script type="text/x-template" id="records-grid-template">
  <div class="records-table-wrapper">
    <div :class="classes">
      <div class="table__header">
        <div class="table__column select-all-column" v-if="disableSelection !== true">
          <input type="checkbox" class="select-all" value='1' v-model="selectAll" :checked="selectionType == 'all'" v-if="disableSelectAll !== true" />
        </div>
        <div v-for="column in enabledColumns" v-bind:class="'table__column ' + column.field + '-column'">
          <a v-on:click.prevent="selectSorting(column)" v-if="column.sortable">
            {{column.title}}

            <span v-if="column.field == sortBy">
              <arrow-down v-if="sortDir === 'desc'"></arrow-down>
              <arrow-up v-if="sortDir === 'asc'"></arrow-up>
            </span>
          </a>

          <span v-if="!column.sortable">{{column.title}}</span>
        </div>
      </div>

      <div class='table__row' :class="{ deleted: item.deleted }" :data-measure-sid="item.row_id" :data-record-sid="item.row_id" v-for="(item, index) in sorted">
        <div class="table__column select-all-column" v-if="disableSelection !== true && singleSelection !== true">
          <input type="checkbox" name="records[]" :value="item[primaryKey]" :checked="checked[item[primaryKey]]" @change="sendCheckedTrigger" />
        </div>
        <div class="table__column select-all-column" v-if="singleSelection === true">
          <input type="radio" name="selected_record" :value="item[primaryKey]" :checked="selectedItem === item[primaryKey]" @change="sendCheckedTrigger" />
        </div>
        <grid-column v-for="column in enabledColumns" :item="item" :column="column.field" :changeProp="column.changeProp" :primary-key="primaryKey" :has-error="item.errors && item.errors.indexOf(column.field) > -1"></grid-column>
      </div>
    </div>
  </div>
</script>
