= render "workbaskets/shared/edit_base", subheader: link_to("(find and edit existing ones instead)", geographical_areas_url)
= render "shared/vue_templates/add_geo_areas_to_group_popup"
= render "shared/vue_templates/add_geo_areas_to_country_region_popup"
= render "shared/vue_templates/edit_geographical_area_membership_popup"
