fieldset
  = content_tag "origin", "", { \
          record_type:        record_type, \
          ":origins_model" => "origins", \
          ":multiple_countries" => multiple_countries, \
          new_area_url:       new_create_geographical_area_url \
        }
