| $(".js-workbasket-find-geo-areas-results-container").html("#{j(render 'geo_areas/geo_areas/search/table')}");
| $(".js-workbasket-find-geo-areas-results-pagination-block").html("#{j(render 'geo_areas/geo_areas/search/pagination')}");
| WorkbasketSubmitSpinnerSupport.hideSpinnerAndUnlockSubmissionButtons();
