h3.heading-medium Measures to be created after cross-check

= render "workbaskets/create_measures/steps/review_and_submit/measures_actions"
= render "workbaskets/create_measures/steps/review_and_submit/table"
