<script type="text/x-template" id="delete-additional-codes-popup-template">
  <pop-up :open="open" :on-close="triggerClose">
    <template slot="title">
      Delete additional codes
    </template>

    <warning-message v-if="records.length > 1">
      You are about to delete or end-date {{records.length}} additional codes.
    </warning-message>

    <info-message>
      <span v-if="recordsNotSentToCDSCount == 0">
        No additional codes in the selection have yet been sent through to CDS or submitted into workflow. Therefore they will be deleted from the system. This cannot be undone.
      </span>
      <span v-if="recordsSentToCDSCount == 0">
        All the codes in the section have been send to CDS or previously submitted in to the workflow. Therefore they will be immediately end dated (stopped) but will not be deleted from the system
      </span>
      <span v-if="recordsSentToCDSCount > 0 && recordsNotSentToCDSCount > 0">
        The selection contains some additional codes that are draft (not yet submitted into workflow or sent through to CDS) and some that have been sent to CDS or previously submitted into workflow. Draft additional codes will be permanently deleted from the system; other additional codes will be immediately end-dated (stopped) but will not be deleted from the system.
      </span>
    </info-message>

    <p v-if="(recordsSentToCDSCount > 0 || recordsNotSentToCDSCount > 0) && (recordsSentToCDSCount == 0 || recordsNotSentToCDSCount == 0)">
      <strong>
        Are you sure you want to
        <span v-if="recordsNotSentToCDSCount == 0">
          immediately end-date
        </span>
        <span v-if="recordsSentToCDSCount == 0">
          permanently delete
        </span>
        {{records.length}} records?
      </strong>
    </p>

    <div v-if="recordsSentToCDSCount > 0 && recordsNotSentToCDSCount > 0">
      <p>
        <strong>
          Are you sure you want to proceed?
        </strong>
      </p>
      <div>
        {{recordsNotSentToCDSCount}} records will be permanently deleted.
      </div>
      <div>
        {{recordsSentToCDSCount}} records will be immediately end-dated.
      </div>
    </div>

    <div class="form-actions">
      <button class="button" @click.prevent="confirmDelete">
        Yes - end-date additional codes
      </button>
      <a class="secondary-button" href="#" v-on:click.prevent="onClose">
        No - cancel
      </a>
    </div>
  </pop-up>
</script>
