= content_tag "date-gds", "", "label" => "When are these new codes' start date?", ":value.sync" => "validity_start_date",  "id" => "validity_start_date",  ":required" => "true", ":error" => "errors.validity_start_date"

= content_tag "date-gds", "", "label" => "When is the area’s end date?", "hint" => "Optional – leave blank if the codes will remain valid indefinitely.", ":value.sync" => "validity_end_date",  "id" => "end_date", ":error" => "errors.validity_end_date"