= render "workbaskets/create_footnote/steps/main/footnote_type_id", f: f
= render "workbaskets/create_footnote/steps/main/description", f: f
= render "workbaskets/create_footnote/steps/main/validity_period", f: f
= render "workbaskets/create_footnote/steps/main/associations", f: f
