<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with regulation identifiers
    </span>
  </summary>

  <div style="max-width:640px" class="govuk-details__text medium">
    <p>Please use the following structure for regulations. Start with one of the following characters:</p>

    <table class="govuk-table" cellspacing="0">
      <tbody>
      <tr class="govuk-table__row">
        <th class="govuk-table__header medium b">Prefix</th>
        <th class="govuk-table__header medium b">Usage</th>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">C</td>
        <td class="govuk-table__cell medium">Draft regulation</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">P</td>
        <td class="govuk-table__cell medium">Preferential Trade Agreement / FTA</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">U</td>
        <td class="govuk-table__cell medium">Unilateral preferences (GSP)</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">S</td>
        <td class="govuk-table__cell medium">Suspensions and reliefs</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">X</td>
        <td class="govuk-table__cell medium">Import and Export control</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">N</td>
        <td class="govuk-table__cell medium">Trade remedies</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">M</td>
        <td class="govuk-table__cell medium">MFN</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">Q</td>
        <td class="govuk-table__cell medium">Quotas</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">A</td>
        <td class="govuk-table__cell medium">Agri measures</td>
      </tr>
      </tbody>
    </table>

  </div>
</details>
