<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with regulation groups
    </span>
  </summary>

  <div style="max-width:640px" class="govuk-details__text medium"><p>It's crucial that you select the right regulation group or a trader's declaration may not process correctly. Please use the following regulation groups:</p>
    <table class="govuk-table" cellspacing="0">
      <tbody>
      <tr class="govuk-table__row">
        <th class="govuk-table__header medium b">ID</th>
        <th class="govuk-table__header medium b">Usage</th>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">DNC</td>
        <td class="govuk-table__cell medium">MFN duties</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">DUM</td>
        <td class="govuk-table__cell medium">Anti-dumping and anti-subsidy duties</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">FTA</td>
        <td class="govuk-table__cell medium">Preferential tariffs and quotas as part of an FTA</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">KON</td>
        <td class="govuk-table__cell medium">Non-preferential quotas</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">MLA</td>
        <td class="govuk-table__cell medium">Import and export restrictions</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">PRF</td>
        <td class="govuk-table__cell medium">Preferential duties outside of a FTA</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">PRS</td>
        <td class="govuk-table__cell medium">Sanctions</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">SPG</td>
        <td class="govuk-table__cell medium">Unilateral preferences (GSP)</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">SUR</td>
        <td class="govuk-table__cell medium">Surveillance &amp; credibility checks</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">SUS</td>
        <td class="govuk-table__cell medium">Reliefs and suspensions</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">TXC</td>
        <td class="govuk-table__cell medium">Retaliatory measures and safeguard additional duties (not quotas)</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">UTS</td>
        <td class="govuk-table__cell medium">Supplementary units</td>
      </tr>
      <tr>
        <td class="govuk-table__cell medium">VAU</td>
        <td class="govuk-table__cell medium">Unit Prices and Standard Import Values</td>
      </tr>
      </tbody>
    </table>
  </div>
</details>
