<%= simple_form_for :search, url: search_additional_codes_path, html: {method: :post} do |f| %>
  <p>
    <strong>
      Find additional codes where:
    </strong>
  </p>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[workbasket_name][enabled]" id="toggle-workbasket-name" type="checkbox" value="1" v-model="workbasket_name.enabled" />
        <label for="toggle-group-name">
          Workbasket name
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForWorbasketName" label-field="label" value-field="value"  v-model="workbasket_name.operator" name="search[workbasket_name][operator]"></custom-select>
    </div>
    <div class="find-item__long">
      <input name="search[workbasket_name][value]" class="form-control" v-model="workbasket_name.value" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[type][enabled]" id="toggle-type" type="checkbox" value="1" v-model="type.enabled" />
        <label for="toggle-type">
          Type
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForType" label-field="label" value-field="value"  v-model="type.operator" name="search[type][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <custom-select url="/additional_code_types" code-field="additional_code_type_id" label-field="description" value-field="additional_code_type_id" code-class-name="prefix--additional-code-type"  placeholder="― select type ―" v-model="type.value" name="search[type][value]"></custom-select>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[code][enabled]" id="toggle-code" type="checkbox" value="1" v-model="code.enabled" />
        <label for="toggle-code">
          Code
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForCode" label-field="label" value-field="value"  v-model="code.operator" name="search[code][operator]"></custom-select>
    </div>
    <div class="find-item__tiny">
      <input name="search[code][value]" class="form-control" v-model="code.value" v-bind:disabled="codeValueDisabled" />
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[valid_from][enabled]" id="toggle-validity-start-date" type="checkbox" value="1" v-model="valid_from.enabled" />
        <label for="toggle-validity-start-date">
          Valid from
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForValidityStartDate" label-field="label" value-field="value"  v-model="valid_from.operator" name="search[valid_from][operator]"></custom-select>
    </div>
    <div class="find-item__date">
      <span class="error-message" v-if="errors['startDate']" v-cloak="">
        You must specify a valid start date.
      </span>
      <date-select :value.sync="valid_from.value" name="search[valid_from][value]" v-bind:disabled="validityStartDateValueDisabled" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[description][enabled]" id="toggle-description" type="checkbox" value="1" v-model="description.enabled" />
        <label for="toggle-description">
          Description
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForDescription" label-field="label" value-field="value"  v-model="description.operator" name="search[description][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <input name="search[description][value]" class="form-control" v-model="description.value" v-bind:disabled="descriptionValueDisabled" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[status][enabled]" id="toggle-status" type="checkbox" value="1" v-model="status.enabled" />
        <label for="toggle-status">
          Status
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForStatus" label-field="label" value-field="value"  v-model="status.operator"  name="search[status][operator]"></custom-select>
    </div>
    <div class="find-item__long">
      <custom-select :options="statuses" label-field="label" value-field="value" placeholder="― select a status ―" v-model="status.value" name="search[status][value]"></custom-select>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="button" v-on:click="confirmChanges" data-disable-with='Searching'>
      Search
    </button>

    <%= link_to "Clear", additional_codes_url, class: "secondary-button" %>
  </div>
<% end %>
