= render "workbaskets/create_measures/form_parts/duty_expression", f: f
= render "workbaskets/create_measures/form_parts/standart_import_value", f: f
= render "workbaskets/create_measures/form_parts/reference_price", f: f
= render "workbaskets/create_measures/form_parts/unit_price", f: f
= render "workbaskets/create_measures/form_parts/conditions", f: f
= render "workbaskets/create_measures/form_parts/footnotes", f: f
= render "workbaskets/create_measures/form_parts/operation_date", f: f
