= render "workbaskets/create_measures/steps/main/start_end_dates", f: f, record_type: 'measures'
= render "workbaskets/shared/steps/main/regulation", f: f, record_type: 'measures'
= render "workbaskets/shared/steps/main/measure_type", f: f, record_type: 'measures'
= render "workbaskets/create_measures/steps/main/workbasket_name", f: f, record_type: 'measures'
= render "workbaskets/shared/steps/main/goods_commodity_codes", f: f, record_type: 'measures'
= render "workbaskets/shared/steps/main/additional_codes", f: f, record_type: 'measures'
= render "workbaskets/shared/steps/main/geographical_area", f: f, multiple_countries: false, record_type: 'measures'
