= render "workbaskets/create_measures/steps/main/start_end_dates", f: f
= render "workbaskets/shared/steps/main/regulation", f: f
= render "workbaskets/shared/steps/main/measure_type", f: f
= render "workbaskets/create_measures/steps/main/workbasket_name", f: f
= render "workbaskets/shared/steps/main/operation_date", f: f
= render "workbaskets/shared/steps/main/goods_commodity_codes", f: f
= render "workbaskets/shared/steps/main/additional_codes", f: f
= render "workbaskets/shared/steps/main/reduction_indicator", f: f
= render "workbaskets/shared/steps/main/geographical_area", f: f

