= render "workbaskets/create_measures/form_parts/regulation", f: f
= render "workbaskets/create_measures/form_parts/start_end_dates", f: f
= render "workbaskets/create_measures/form_parts/measure_type", f: f
= render "workbaskets/create_measures/form_parts/workbasket_name", f: f
= render "workbaskets/create_measures/form_parts/goods_commodity_codes", f: f
= render "workbaskets/create_measures/form_parts/additional_codes", f: f
= render "workbaskets/create_measures/form_parts/reduction_indicator", f: f
= render "workbaskets/create_measures/form_parts/geographical_area", f: f

