.edit-certificate-description-validity-period-block.hidden.m-t-5
  = content_tag "date-gds", "", "label" => "You have edited the certificate description. Please specify the date when this change should apply, if different from the change-date already given above.", ":value.sync" => "certificate.description_validity_start_date",  "id" => "description_validity_start_date", ":required" => "true", ":error" => "errors.description_validity_start_date", "input_name" => "workbasket_forms_edit_certificate_form[description_validity_start_date]"
