= content_tag "date-gds", "", "label" => "When is the certificate's start date?", ":value.sync" => "certificate.validity_start_date",  "id" => "validity_start_date", ":required" => "true", ":error" => "errors.validity_start_date", ":disabled" => "true"
