h3.heading-medium Measures to be created after cross-check

= render "workbaskets/shared/steps/review_and_submit/measures_actions" unless read_only
= render "workbaskets/shared/steps/review_and_submit/measures_table"
