<%= simple_form_for :search, url: search_quotas_path, html: {method: :post} do |f| %>
  <p>
    <strong>
      Find quotas where:
    </strong>
  </p>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[order_number][enabled]" id="toggle-order-number" type="checkbox" value="1" v-model="order_number.enabled" />
        <label for="toggle-order-number">
          Order Number
        </label>
      </div>
    </div>

    <div class="find-items__is">
      <custom-select :options="conditionsForOrderNumber" label-field="label" value-field="value"  v-model="order_number.operator" name="search[order_number][operator]"></custom-select>
    </div>

    <div class="find-item__long">
      <input name="search[order_number][value]" class="form-control" v-model="order_number.value" />
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[description][enabled]" id="toggle-description" type="checkbox" value="1" v-model="description.enabled" />
        <label for="toggle-description">
          Description
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForDescription" label-field="label" value-field="value"  v-model="description.operator" name="search[description][operator]"></custom-select>
    </div>
    <div class="find-item__full">
      <input name="search[description][value]" class="form-control" v-model="description.value" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[type][enabled]" id="toggle-type" type="checkbox" value="1" v-model="type.enabled" />
        <label for="toggle-type">
          Type
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForType" label-field="label" value-field="value"  v-model="type.operator" name="search[type][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <custom-select url="/measure_types?quota=true" code-field="measure_type_id" label-field="description" value-field="measure_type_id" code-class-name="prefix--measure-type"  placeholder="― start typing ―" min-length="1" v-model="type.value" name="search[type][value]"></custom-select>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[regulation][enabled]" id="toggle-regulation" type="checkbox" value="1" v-model="regulation.enabled" />
        <label for="toggle-regulation">
          Regulation
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForRegulation" label-field="label" value-field="value"  v-model="regulation.operator" name="search[regulation][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <input name="search[regulation][value]" class="form-control" v-model="regulation.value" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[license][enabled]" id="toggle-license" type="checkbox" value="1" v-model="license.enabled" />
        <label for="toggle-license">
          Is licenced
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForLicense" label-field="label" value-field="value"  v-model="license.operator" name="search[license][operator]"></custom-select>
    </div>
    <div class="find-item__text">
      <span class='middle-text'>
        with licence ID
      </span>
    </div>
    <div class="find-item__short">
      <custom-select url="/certificates" code-field="certificate_code" label-field="description" value-field="certificate_code" code-class-name="prefix--certificate-code"  placeholder="― start typing ―" min-length="1" v-model="license.value" name="search[license][value]" v-bind:disabled="licenseValueDisabled"></custom-select>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[valid_from][enabled]" id="toggle-validity-start-date" type="checkbox" value="1" v-model="validity_start_date.enabled" />
        <label for="toggle-validity-start-date">
          Starts
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForValidityStartDate" label-field="label" value-field="value"  v-model="validity_start_date.operator" name="search[valid_from][operator]"></custom-select>
    </div>
    <div class="find-item__date">
      <date-select :value.sync="validity_start_date.value" name="search[valid_from][value]" v-bind:disabled="validityStartDateValueDisabled" />
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[valid_to][enabled]" id="toggle-validity-end-date" type="checkbox" value="1" v-model="validity_end_date.enabled" />
        <label for="toggle-validity-end-date">
          Ends
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForValidityEndDate" label-field="label" value-field="value"  v-model="validity_end_date.operator" name="search[valid_to][operator]"></custom-select>
    </div>
    <div class="find-item__date">
      <date-select :value.sync="validity_end_date.value" name="search[valid_to][value]" v-bind:disabled="validityEndDateValueDisabled" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[staged][enabled]" id="toggle-staged" type="checkbox" value="1" v-model="staged.enabled" />
        <label for="toggle-staged">
          Is staged
        </label>
      </div>
    </div>
    <div class="find-item__short">
      <custom-select :options="conditionsForStaged" label-field="label" value-field="value"  v-model="staged.operator" name="search[staged][operator]"></custom-select>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[commodity_code][enabled]" id="toggle-commodity-code" type="checkbox" value="1" v-model="commodity_code.enabled" />
        <label for="toggle-commodity-code">
          Commodity code
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForCommodityCode" label-field="label" value-field="value"  v-model="commodity_code.operator" name="search[commodity_code][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <input name="search[commodity_code][value]" class="form-control" v-model="commodity_code.value" v-bind:disabled="commodityCodeValueDisabled" />
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[additional_code][enabled]" id="toggle-additional-code" type="checkbox" value="1" v-model="additional_code.enabled" />
        <label for="toggle-additional-code">
          Additional code
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForAdditionalCode" label-field="label" value-field="value"  v-model="additional_code.operator" name="search[additional_code][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <input name="search[additional_code][value]" class="form-control" v-model="additional_code.value" />
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input id="toggle-origin" name="search[origin][enabled]" type="checkbox" value="1" v-model="origin.enabled" />
        <label for="toggle-origin">
          Origin
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForOrigin" label-field="label" value-field="value"  v-model="origin.operator" name="search[origin][operator]"></custom-select>
    </div>
    <div class="find-item__short">
      <custom-select url="/geographical_areas" label-field="description" value-field="id" placeholder="― start typing ―" min-length="1" v-model="origin.value" name="search[origin][value]"></custom-select>
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[origin_exclusions][enabled]" id="toggle-origin-exclusions" type="checkbox" value="1" v-model="origin_exclusions.enabled" />
        <label for="toggle-origin-exclusions">
          Origin exclusions
        </label>
      </div>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForOriginExclusions" label-field="label" value-field="value"  v-model="origin_exclusions.operator" name="search[origin_exclusions][operator]"></custom-select>
    </div>
    <div class="find-item__flow">
      <div class='origin-exclusion-search' v-for="(exclusion, index) in origin_exclusions.value">
        <custom-select url="/geographical_areas" label-field="description" value-field="id" placeholder="― start typing ―" min-length="1" v-model="exclusion.value" v-bind:disabled="exclusionsValueDisabled" :name="'search[origin_exclusions][value][' + index + ']'" drilldown-name="parent_id" v-bind:drilldown-value.sync="origin.value" :on-change="exclusionsChanged"></custom-select>

        <input type="hidden" :name="'search[origin_exclusions][value][' + index + ']'" :value="exclusion.value" :disabled="exclusionsValueDisabled" />
      </div>
      <a href="#" v-on:click.prevent="addOriginExclusion" v-if="!exclusionsValueDisabled">
        Add another exclusion
      </a>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[author][enabled]" id="toggle-author" type="checkbox" value="1" v-model="author.enabled" />
        <label for="toggle-author">
          Author
        </label>
      </div>
    </div>
    <div class="find-item__long">
      <custom-select url="/users" label-field="name" value-field="id" placeholder="― select a user ―" v-model="author.value" name="search[author][value]"></custom-select>
    </div>
  </div>
  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[date_of][enabled]" id="toggle-date" type="checkbox" value="1" v-model="date_of.enabled" />
        <label for="toggle-date">
          Date of
        </label>
      </div>
    </div>
    <div class="find-items__type">
      <custom-select :options="typesForDate" label-field="label" value-field="value"  v-model="date_of.mode" name="search[date_of][mode]"></custom-select>
    </div>
    <div class="find-items__is">
      <custom-select :options="conditionsForDate" label-field="label" value-field="value"  v-model="date_of.operator" name="search[date_of][operator]"></custom-select>
    </div>
    <div class="find-item__date">
      <date-select :value.sync="date_of.value" name="search[date_of][value]" />
    </div>
  </div>

  <div class="find-items__row">
    <div class="find-items__checkbox-column">
      <div class="multiple-choice">
        <input name="search[last_updated_by][enabled]" id="toggle-last-updated-by" type="checkbox" value="1" v-model="last_updated_by.enabled" />
        <label for="toggle-last-updated-by">
          Last updated by
        </label>
      </div>
    </div>
    <div class="find-item__long">
      <custom-select url="/users" label-field="name" value-field="id" placeholder="― select a user ―" v-model="last_updated_by.value" name="search[last_updated_by][value]"></custom-select>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class='button' data-disable-with='Searching'>
      Search
    </button>

    <%= link_to "Clear", quotas_url, class: "secondary-button" %>
  </div>
<% end %>
