= render "workbaskets/create_certificate/steps/main/certificate_type_code", f: f
= render "workbaskets/create_certificate/steps/main/certificate_code", f: f
= render "workbaskets/create_certificate/steps/main/description", f: f
= render "workbaskets/create_certificate/steps/main/validity_period", f: f
= render "workbaskets/create_certificate/steps/main/operation_date", f: f
