= render "shared/bulks/save_actions_popups/base", modal_id: "validation-details", title: "Validation Details"
= render "shared/bulks/save_actions_popups/base", modal_id: "save-progress-summary", title: "Your progress successfuly saved!"
= render "shared/bulks/save_actions_popups/base", modal_id: "submit-summary-failed", title: "Cross-check submission failed!"
= render "shared/bulks/save_actions_popups/base", modal_id: "submit-summary-success", title: "Cross-check submission"
