h3.heading-medium Measures to be created after approval

= render "workbaskets/shared/steps/review_and_submit/measures_actions" unless read_only
= render "workbaskets/#{record_type}/steps/review_and_submit/measures_table"
