= render "workbaskets/shared/edit_base", subheader: link_to("(find and edit existing ones instead)", measures_url)

script
  == "window.measure_start_date = '#{workbasket_settings.start_date}';"
  == "window.measure_end_date = '#{workbasket_settings.end_date}';"
