- prefix = attributes_parser.commodity_codes_formatted.present? ? "commodity" : "additional"

p
  | Please check that the amendments below are as intended and correctly reflect the requirement, then either confirm or reject.
