= render "workbaskets/edit_footnote/steps/main/reasons_of_changes", f: f
= render "workbaskets/edit_footnote/steps/main/info_block", f: f
= render "workbaskets/edit_footnote/steps/main/description", f: f
= render "workbaskets/edit_footnote/steps/main/description_validity_start_date", f: f
= render "workbaskets/edit_footnote/steps/main/validity_period", f: f

- if form.show_commodity_codes_block || form.show_measures_block
  = render "workbaskets/edit_footnote/steps/main/associations", f: f
