| $(".js-workbasket-find-certificates-results-container").html("#{j(render 'certificates/certificates/search/table')}");
| $(".js-workbasket-find-certificates-results-pagination-block").html("#{j(render 'certificates/certificates/search/pagination')}");
| WorkbasketSubmitSpinnerSupport.hideSpinnerAndUnlockSubmissionButtons();
