| $(".js-workbasket-find-footnotes-results-container").html("#{j(render 'footnotes/footnotes/search/table')}");
| $(".js-workbasket-find-footnotes-results-pagination-block").html("#{j(render 'footnotes/footnotes/search/pagination')}");
| WorkbasketSubmitSpinnerSupport.hideSpinnerAndUnlockSubmissionButtons();
