= render "workbaskets/edit_geographical_area/steps/main/info_block", f: f
= render "workbaskets/edit_geographical_area/steps/main/reasons_of_changes", f: f
= render "workbaskets/edit_geographical_area/steps/main/operation_date", f: f
= render "workbaskets/edit_geographical_area/steps/main/description", f: f
= render "workbaskets/edit_geographical_area/steps/main/description_validity_start_date", f: f
= render "workbaskets/edit_geographical_area/steps/main/validity_period", f: f
= render "workbaskets/create_geographical_area/steps/main/memberships", f: f
