= content_tag "date-gds", "", "label" => "Specify the operation date", ":value.sync" => "certificate.operation_date",  "id" => "operation_date", ":required" => "true", ":error" => "errors.operation_date"