.additional-codes-show-page {
  padding-bottom: 100px;
}

.records-table.additional-codes-table,
.records-table.additional_codes {
  .type_id-column {
    min-width: 60px !important;
    max-width: 60px !important;
  }

  .additional_code-column {
    min-width: 70px !important;
    max-width: 70px !important;
  }

  .description-column {
    min-width: 320px !important;
    max-width: 320px !important;
  }

  .validity_start_date-column {
    min-width: 110px !important;
    max-width: 110px !important;
  }

  .validity_end_date-column {
    min-width: 110px !important;
    max-width: 110px !important;
  }

  .last_updated-column {
    min-width: 180px !important;
    max-width: 180px !important;
  }

  .status-column {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}
