.alert {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
  padding-top: 5px;
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;

    path {
      fill: currentColor;
    }
  }
}

.alert--warning {
  color: $yellow-orange;
}

.alert--info {
  color: $light-blue;
}

.alert--error {
  color: red;
}

.alert--success {
  color: $button-colour;
  margin-top: 2em;
  position: relative;
  top: 1.5em;

  .icon {
    width: 2em;
    top: -0.4em;
  }
}

/* Form actions */

.form-actions {
  .alert--success {
    margin-top: 3rem;
    top: 0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 3.6rem;
  }
  .icon {
    width: 3.3rem;
    top: 0;
  }
}
