.js-edit-geographical_area-form {
  h3.heading-medium {
    &.sub_heading_block {
      margin-top: 20px;
    }

    &.without_top_margin {
      margin-top: 0px;
    }
  }

  .alert.alert--info {
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .alert.create-measures-message-block.edit-geo-area-type-block-alert {
    margin-top: 20px;
    height: 35px;

    p {
      padding-top: 5px;
    }
  }

  span.form-hint.hint_below_input {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .edit-geographical_area-description-validity-period-block {
    margin-top: 45px;
    margin-bottom: 45px;
    overflow: hidden;
    border-left: 3px solid gray;
    padding-left: 20px;

    .form-group {
      margin-bottom: 0px;
    }
  }

  .form-group.without_bottom_margin {
    margin-bottom: 0px;
  }

  fieldset.js-validity-period-start-date-block {
    &.without_top_margin {
      margin-top: 0px;
    }
  }

  input.js-changes_take_effect_date_input, input.js-description-validity-period-date {
    max-width: 140px;
  }

  .disabled_area {
    opacity: 0.5;
    cursor: default;

    &.disabled {
      pointer-events: none;
    }
  }

  .js-geographical-area-parent-group-select-block {
    span.form-hint {
      margin-top: 10px;
    }
  }
}

.view-workbasket-geographical-area-details-container {
  margin-bottom: 60px;
  overflow: hidden;
  font-size: 18px;

  .bootstrap-row {
    padding-top: 9px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bfc1c3;

    &.final_row {
      border-bottom: none;
    }

    &.with-top-border {
      border-top: 1px solid #bfc1c3;
    }
  }

  .heading_column {
    font-weight: bold;
  }

  .js-view-geographical-area-other-descriptions-block {
    overflow: hidden;
    border-left: 3px solid gray;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .js-workbasket-geographical-area-show-hide-descriptions {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 420px;
  }

  strong {
    margin-bottom: 10px;
  }
}
