input.datepicker,
input.date-picker {
  max-width: 140px;
}

.form-group.text {
  max-width: 100% !important;
}

.form-control {
  width: 100% !important;
  max-width: 100%;

  &[type="file"] {
    border: none;
  }
}

label abbr {
  display: none !important;
}

.multiple-choice + .panel {
  margin-left: 3.2em;
  max-width: calc(100% - 3.2em);
}

.exclusions-target {
  margin: 1em 0;
}

.exclusion-select {
  width: 300px;
  max-width: 100%;
}

.exclusion + .exclusion {
  margin-top: 20px;
}

.form-hint {
  margin: 1em 0 1em;
}

.selectize-control.form-control {
  width: 100% !important;
}

.input-suffix {
  display: inline-block;
  position: relative;
  top: -4px;
  left: -20px;

  @media (max-width: 991px) {
    top: 10px;
  }
}

.date-part {
  @media (max-width: 767px) {
    & + .date-part {
      margin-top: 20px;
    }
  }
}

.condition {
  padding: 15px 0 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 15px;
  }

  &:first-of-type:last-of-type {
    padding-bottom: 0 !important;
  }

  & + .condition {
    margin-top: 15px;
    border-top: 1px solid #000;
  }
}

.footnote {
  padding: 15px 0 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 15px;
  }

  &:first-of-type:last-of-type {
    padding-bottom: 0 !important;
  }

  & + .footnote {
    margin-top: 15px;
    border-top: 1px solid #000;
  }
}

.quota-period {
  padding: 15px 0 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 15px;
  }

  &:first-of-type:last-of-type {
    padding-bottom: 0 !important;
  }

  & + .quota-period {
    border-top: 1px solid #000;
  }
}

.after-field {
  display: block;
  margin-top: 1em !important;
  margin-bottom: 0;
}

.form-actions {
  margin: 1em 0 3em;
}

.condition-components-wrapper {
  padding-bottom: 15px;
}

.measure-condition-component {
  padding: 15px 0 15px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  & + .condition {
    border-top: 1px solid #000;
  }
}

.search-form {
  background: $grey-4;
  padding: 20px;
  margin-bottom: 20px;

  .form-actions {
    margin-bottom: 1em;
  }
}

.measure-form {
  .form-actions {
    margin-top: 3em;
  }

  .js-measure-form-errors-container {
    position: relative;
    top: 2em;
  }
}

.add-another-wrapper {
  margin-bottom: 0;
}

.exclusion {
  & + .exclusion {
    margin-top: 20px;
  }
}

.exclusion-select {
  display: inline-block;
}

.exclusion-actions {
  display: inline-block;
  margin-left: 20px;

  a {
    position: relative;
    top: -18px;
  }
}

.remove-link {
  color: $red;
  text-decoration: underline;
}
