input.datepicker {
  max-width: 110px;
}

.form-control {
  width: 100% !important;
}

.multiple-choice + .panel {
  margin-left: 3.2em;
  max-width: calc(100% - 3.2em);
}

.exclusions-target {
  margin: 1em 0;
}

.exclusion-select {
  width: 300px;
  max-width: 100%;
}

.form-hint {
  margin: 1em 0 1em;
}

.selectize-control.form-control {
  width: 100% !important;
}

.input-suffix {
  display: inline-block;
  position: relative;
  top: -4px;
  left: -20px;

  @media (max-width: 991px) {
    top: 10px;
  }
}

.date-part {
  @media (max-width: 767px) {
    & + .date-part {
      margin-top: 20px;
    }
  }
}

.condition {
  padding: 15px 0 15px;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  & + .condition {
    border-top: 1px solid #000;
  }
}

.quota-period {
  padding: 15px 0 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  & + .quota-period {
    border-top: 1px solid #000;
  }
}

.after-field {
  display: block;
  margin-top: 1em !important;
  margin-bottom: 0;
}

.form-actions {
  margin: 1em 0 3em;
}

.measure-condition-component {
  padding: 15px 0 15px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  & + .condition {
    border-top: 1px solid #000;
  }
}

.search-form {
  background: $grey-4;
  padding: 20px;
  margin-bottom: 20px;

  .form-actions {
    margin-bottom: 1em;
  }
}

.measure-form {
  .form-actions {
    margin-top: 3em;
  }

  .js-measure-form-errors-container {
    position: relative;
    top: 2em;
  }
}

.add-another-wrapper {
  margin-bottom: 0;
}
