#main-menu {
  margin-bottom: 2em;

  p {
    margin-bottom: 0.5em;
  }
}

.logout-section {
  position: relative;
  top: -0.7em;
}

.breadcrumbs-main-menu {
  .logout {
    position: relative;
    top: 0.4em;
  }
}

.workbaskets {
  margin-top: 3em;
}

.main-menu-page {
  padding-bottom: 3em;
}
