#main-menu {
  margin-bottom: 1em;

  p {
    margin-bottom: 0.3em;
  }
}

.logout-section {
  position: relative;
  top: -0.7em;
}

.breadcrumbs-main-menu {
  .logout {
    position: relative;
    top: 0.4em;
  }
}

.workbaskets {
  margin-top: 1em;
}

.main-menu-page {
  padding-bottom: 3em;
}

.main-menu-block {
  margin: 0 1rem 1rem 0;
}

.without_top_margin {
  margin-top: 0;
}

.modal__container.workbasket-main-menu-modal {

  &.workbasket-confirmation-modal {
    width: 660px;
  }

  .modal__content {
    margin-bottom: 5px;
  }

  .js-main-menu-confirm-action {
    &.hidden {
      display: none;
    }
  }

  .save_progress_block {
    margin-right: 2px;

    .spinner_block {
      margin-top: -5px;
    }
  }
}
