.condition-components-wrapper {
  padding: 0;
}

.measure-condition-component {
  & + .measure-condition-component {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}


.form-hint-3-line {
  display: block;
  height: 4.92em;
}
