.js-workbasket-errors-container, .js-workbasket-base-success-message-container {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;

  h3.measure-form-errors-header {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
