.js-workbasket-errors-container, .js-workbasket-base-success-message-container {
  color:black;
  background-color: white;
  border: 5px solid #b10e1e;
  padding: 20px;

  h3.workbasket-form-errors-header {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
