.measure-components:last-child {
  border-bottom: 1px solid $border-colour;
  a {
    display: block;
    margin-bottom: 1em;
  }
}

.measure-component {
  .form-group {
    margin-bottom: 0 !important;
  }

  & + & {
    padding-top: 6px;
  }

  &:last-of-type {
    margin-bottom: 3px;
  }

  .measure-form & {
    [class*="col-"] {
      justify-content: flex-start !important;
    }
  }

  .form-label {
    font-size: 16px !important;
  }
}

.blank-additional-code {
  margin-left: 10px;
}
