.condition,
.measure-condition {
  padding-bottom: 10px;

  .form-group {
    margin-bottom: 0 !important;
  }

  & + & {
    padding-top: 10px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }
}
