.pagination {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;

  li {
    font-size: 12px;
    display: inline-block;
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding: 0.5em 0.7em;
      color: $link-colour;
      background: #fff;
      border: 1px solid $grey-2;
      text-decoration: none;

      &:hover,
      &:focus {
        border-color: $grey-1;
      }

      &:focus {
        outline: 3px solid $yellow;
      }
    }

    span {
      display: inline-block;
      padding: 0.5em 0.7em;
      color: #222;
    }

  }
}
