.selection {
  display: flex;
  padding: 0.5em 0.2em !important;

  span {
    flex: 0 1 auto;
    align-self: stretch;
  }
}

.selectize-input .item {
  white-space: nowrap !important;
  max-width: 90% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.abbreviation {
  display: inline-block;
  margin-right: 0.5em;
}

.option-prefix {
  display: inline-block;
  margin-right: 0.5em;
  padding-left: 0.5em;
}

.option-prefix--series {
  flex-basis: 1.7em;
  min-width: 1.7em;
  width: 1.7em;
}

.option-prefix--type {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--country {
  flex-basis: 2.3em;
  min-width: 2.3em;
  width: 2.3em;
}

.prefix--region {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--monetary-unit {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--measurement-unit {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
  flex-shrink: 0;
}

.prefix--measurement-unit-qualifier {
  flex-basis: 1.7em;
  min-width: 1.7em;
  width: 1.7em;
}

.prefix--condition {
  flex-basis: 1.7em;
  min-width: 1.7em;
  width: 1.7em;
}

.prefix--measure-action {
  flex-basis: 2.1em;
  min-width: 2.1em;
  width: 2.1em;
}

.prefix--certificate-type {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--certificate {
  flex-basis: 2.8em;
  min-width: 2.8em;
  width: 2.8em;
}

.prefix--quota-status {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--quota-order-number {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.prefix--additional-code-type {
  flex-basis: 1.7em;
  min-width: 1.7em;
  width: 1.7em;
}

.prefix--additional-code {
  flex-basis: 2.8em;
  min-width: 2.8em;
  width: 2.8em;
}

.prefix--duty-expression {
  flex-basis: 2.1em;
  min-width: 2.1em;
  width: 2.1em;
}

.abbreviation--measurement-unit {
  flex-basis: 6.5em;
  min-width: 6.5em;
  width: 6.5em;
}

.abbreviation--duty-expression {
  flex-basis: 2.1em;
  min-width: 2.1em;
  width: 2.1em;
}

.prefix--footnote-type{
  flex-basis: 2.3em;
  min-width: 2.3em;
  width: 2.3em;
}

.prefix--l1 {
  flex-basis: 1.7em;
  min-width: 1.7em;
  width: 1.7em;
}

.prefix--regulation {
  flex-basis: 5.5em;
  min-width: 5.5em;
  width: 5.5em;
}

.prefix--regulation-group {
  flex-basis: 3em;
  min-width: 3em;
  width: 3em;
}

.origin-select {
  width: 400px;
  max-width: 100%;
  top: -5px;
}

.selectize-control {
  font-size: 1.6rem;
}

.selectize-input {
  border-radius: 0 !important;
  border: 2px solid #000 !important;
  line-height: 22px !important;
  padding-right: 35px !important;

  &.allow-clear {
    padding-right: 65px !important;
  }

  &.focus {
    box-shadow: none !important;
    outline: 3px solid $focus-colour;
  }

  input {
    height: auto !important;
    opacity: 1;
    position: relative;
    vertical-align: top;
  }
}

.selectize-dropdown {
  width: auto !important;
  min-width: 100%;
}
