.table {
  width:100%;
  margin:0;

  .icon {
    position: absolute;
    right: calc(100% - 5px);
    top: 0.5em;
  }

  td {
    vertical-align: top;
  }

  th {
    vertical-align: bottom;
    a.current {
      &.desc {

      }
    }
  }
}
