table {
  td {
    max-width: 400px;
  }
}

.measures-table {
  min-width: 1600px !important;

  .table__row {
    border-bottom: 1px solid $border-colour;
    height: 45px;
    overflow: hidden;
    display: flex;

    &.deleted {
      text-decoration: line-through;
    }
  }

  .table__column {
    display: inline-block;
  }

  .table__column--highlight {
    background: transparentize($panel-colour, 0.4);
  }

  .select-all-column {
    width: 20px;
  }

  .measure_sid-column {
    width: 80px;
  }

  .regulation-column {
    width: 80px;
  }

  .measure_type_id-column {
    width: 50px;
  }

  .validity_start_date-column {
    width: 85px;
  }

  .validity_end_date-column {
    width: 85px;
  }

  .goods_nomenclature_id-column,
  .goods_nomenclature-column {
    width: 90px;
  }

  .additional_code_id-column,
  .additional_code-column {
    width: 70px;
  }

  .geographical_area-column {
    width: 45px;
  }

  .excluded_geographical_areas-column {
    width: 100px;
  }

  .duties-column {
    width: 180px;
  }

  .conditions-column {
    width: 160px;
  }

  .footnotes-column {
    width: 100px;
  }

  .last_updated-column {
    width: 160px;
  }

  .status-column {
    width: 110px;
  }

  .table__column {
    font-size: 13px;
    padding: 3px !important;
    position: relative;
    height: auto !important;
    vertical-align: top;
    font-weight: 400;

    &.has-validation-errors {
      background-color: #f2dede;
      cursor: pointer;
    }

    .arrow-down,
    .arrow-up {
      position: absolute;
      right: 4px;
      top: 3px;
    }

    a {
      color: $blue !important;
      position: relative;
      display: inline-block;
      padding-right: 20px;
      cursor: pointer;
    }
  }

  .table__header {
    border-bottom: 2px solid $border-colour;

    .table__column {
      vertical-align: baseline;
    }
  }
}

.table-top {
  margin-bottom: 20px;
}
