.table {
  width:100%;
  margin:0;

  .icon {
    position: absolute;
    right: calc(100% - 5px);
    top: 0.5em;
  }

  th {
    a.current {
      &.desc {

      }
    }
  }
}

#records-table th, .table th {
  vertical-align:bottom;
  font-size:12px !important;
}
#records-table td, .table td {
  vertical-align:top;
  font-size:12px !important;
}

.details_table {
  th, td {
    vertical-align: top;
  }
  th {
    font-weight: bold;
  }
}
