.js-workbasket-create-quota-licence-block {
  border-left: 3px solid gray;
  padding-left: 20px;
  margin-left: 50px;
  margin-bottom: 30px;
}

ul.workbasket-review-and-submit-footnotes-list {
  li {
    margin-top: 7px;

    &.without_top_margin {
      margin-top: 0;
    }
  }
}
