// Styles for IE11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  input.datepicker, input.date-picker {
    background-size:40% !important;    
    background-position: 115% !important;
  }

  .selectize-control.select .selectize-input input {
    width: auto !important;
  }
}
