.row {
  position: relative;
  margin: 0 -15px;

  @media (min-width: 992px) {
    display: flex;
  }
}

[class^="col"] {
  float: left;
  padding: 0 15px;
  min-height: 0.125rem;
  width: 100%;
  width: calc(100% - 30px);

  @media (min-width: 992px) {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    flex: 0 0 calc(100% - 30px);
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

$cols: 1 2 3 4 5 6 7 8 9 10 11 12;
$single: 100% / 12;
$maxcol: $site-width / 12;

@each $col in $cols {
  .col-#{$col} {
    width: $maxcol * $col;
    max-width: calc(#{$single * $col} - 30px);
    flex: 0 0 calc(#{$single * $col} - 30px);
  }

  .col-xs-#{$col} {
    width: $maxcol * $col;
    max-width: calc(#{$single * $col} - 30px);
    flex: 0 0 calc(#{$single * $col} - 30px);
  }
}

@media (min-width: 768px) {
  @each $col in $cols {
    .col-sm-#{$col} {
      width: $maxcol * $col;
      max-width: calc(#{$single * $col} - 30px);
      flex: 0 0 calc(#{$single * $col} - 30px);
    }
  }
}

@media (min-width: 992px) {
  @each $col in $cols {
    .col-md-#{$col} {
      width: $maxcol * $col;
      max-width: calc(#{$single * $col} - 30px);
      flex: 0 0 calc(#{$single * $col} - 30px);
    }
  }
}

@media (min-width: 1024px) {
  @each $col in $cols {
    .col-lg-#{$col} {
      width: $maxcol * $col;
      max-width: calc(#{$single * $col} - 30px);
      flex: 0 0 calc(#{$single * $col} - 30px);
    }
  }
}

@media (min-width: 1600px) {
  @each $col in $cols {
    .col-xl-#{$col} {
      width: $maxcol * $col;
      max-width: calc(#{$single * $col} - 30px);
      flex: 0 0 calc(#{$single * $col} - 30px);
    }
  }
}
