= content_tag "date-gds", "", "class"=>"m-t-10", "label" => "When is the footnote's start date?", ":value.sync" => "footnote.validity_start_date", "id" => "validity_start_date", ":error" => "errors.validity_start_date", ":required" => "true"