div.edit-footnote-description-validity-period-block.hidden.m-t-5
  = content_tag "date-gds", "", "label" => "Description validity", "hint" =>"You have edited the footnote description. Please specify the date when this change should apply, if different from the change-date already given above. This must fall between the footnote validity dates shown below.", "v-model" => "footnote.description_validity_start_date",  "id" => "start_date",  ":required" => "true", "input_name" => "workbasket_forms_edit_footnote_form[description_validity_start_date]", ":error" => "errors.description_validity_start_date"
