= render "workbaskets/shared/steps/duties_conditions_footnotes/standart_import_value", f: f
= render "workbaskets/shared/steps/duties_conditions_footnotes/reference_price", f: f
= render "workbaskets/shared/steps/duties_conditions_footnotes/unit_price", f: f
= render "workbaskets/shared/steps/duties_conditions_footnotes/conditions", f: f
= render "workbaskets/shared/steps/duties_conditions_footnotes/footnotes", f: f
