= render "workbaskets/shared/steps/main/regulation", f: f, record_type: 'quota'
= render "workbaskets/create_quota/steps/main/order_number", f: f
= render "workbaskets/create_quota/steps/main/quota_precision", f: f
= render "workbaskets/shared/steps/main/measure_type", f: f, record_type: 'quota'
= render "workbaskets/create_quota/steps/main/order_number_description", f: f
= render "workbaskets/shared/steps/main/operation_date", f: f
= render "workbaskets/create_quota/steps/main/licensed_block", f: f
= render "workbaskets/shared/steps/main/goods_commodity_codes", f: f, record_type: 'quota'
= render "workbaskets/shared/steps/main/additional_codes", f: f, record_type: 'quota'
= render "workbaskets/shared/steps/main/reduction_indicator", f: f, record_type: 'quota'
= render "workbaskets/shared/steps/main/geographical_area", f: f, multiple_countries: true, record_type: 'quota'

